<!DOCTYPE html>
<html>
<head>
    <title>Young Stars</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="hero">

    <h1>🌟 Young Stars</h1>

    <p>Career guidance for LKG to 9th Students</p>

</div>

<div class="dashboard">

    <div class="card">
        <h3>🧠 Learning Skills</h3>
        <p>Improve creativity, memory and communication.</p>
    </div>

    <div class="card">
        <h3>🎯 Future Careers</h3>
        <p>Explore Doctor, Engineer, Scientist, IAS and more.</p>
    </div>

    <div class="card">
        <h3>📚 Daily Learning</h3>
        <p>Fun activities and study habits for every day.</p>
    </div>

    <div class="card">
        <h3>🏆 Competitions</h3>
        <p>Olympiads, Quiz, Drawing and Coding events.</p>
    </div>

</div>

<br>

<center>
    <a href="/">⬅ Back to Home</a>
</center>

</body>
</html>